---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'

function monthUrl(post:Object) {
    const date = post.data.published_at
    const year  = date.getFullYear().toString()
    const month = (date.getMonth()+1).toString().padStart(2, '0')
    return `/rutinat/${year}/${month}/`
}

function postUrl(post:Object) {
    const date = post.data.published_at
    const day   = date.getDate().toString().padStart(2, '0')
    return `${monthUrl(post)}${day}/${post.slug}`
}

function removeHTML(input) {
  return input.replace(/<[^>]*>/g, '')
}

function toPostsByKey(posts:any[], toKeys: Function[]) {
    toKeys = [...toKeys]
    const toKey = toKeys.shift()
    if (!toKey) {
        return posts
    }
    const postsByKey: { keys: string[], posts: {[key: string]: any[]}} = { keys: [], posts: {} }

    posts.forEach(post => {
        const key = toKey(post)

        if (!postsByKey.posts[key]) {
            postsByKey.posts[key] = []
            postsByKey.keys.push(key)
        }

        postsByKey.posts[key].push(post)
    })
    postsByKey.keys.forEach(key => {
        postsByKey.posts[key] = toPostsByKey(postsByKey.posts[key], toKeys)
    })
    return postsByKey
}

let title = "Rutinat"
const { year, month, tag } = Astro.props
if (tag) { title = title + ": " + tag}

const posts = (await getCollection('rutinat')).filter((p) => {
    // Filter by given props
    return (!year || p.data.published_at.getFullYear() === year) &&
        (!month || p.data.published_at.getMonth() === (month-1)) &&
        (!tag || p.data.tags.includes(tag))
})
posts.sort((a, b) => b.data.published_at - a.data.published_at) // newest first
const postsByYear = toPostsByKey(posts, [
    post => post.data.published_at.getFullYear().toString(),
    post => post.data.published_at.toLocaleString('fi', {month:'long'})
])



---

<DefaultLayout title={title}>
    <div class="container">
        <div class="space-content my-12">
            <h1>{title}</h1>
            <ul>
                {postsByYear.keys.map((year) => (
                    <li>
                        <h2><a href={`/rutinat/${year}`}>{year}</a></h2>
                        <ul>
                            {postsByYear.posts[year].keys.map((month) => (
                                <li>
                                    <h3><a href={monthUrl(postsByYear.posts[year].posts[month][0])}>{month}</a></h3>
                                    <ul>
                                        {postsByYear.posts[year].posts[month].map((post) => (
                                            <li>
                                                <h4><a href={postUrl(post)}>{post.data.title}</a></h4>
                                                <p>
                                                    <em>{post.data.published_at.toLocaleString('fi', {month:'numeric',day:'numeric',year:'numeric'})}</em>&nbsp;
                                                    {removeHTML(post.body).slice(0,100)}&hellip;
                                                </p>
                                            </li>
                                            ))
                                        }
                                    </ul>
                                </li>
                                ))
                            }
                        </ul>
                    </li>
                    ))
                }
            </ul>
            <h2>Rutinoita muualla</h2>
            <p><a href="http://rutinat.vuodatus.net/">Rutinat 2/2006 – 9/2008</a> luettavissa vuodatus.netissä.</p>
        </div>
    </div>
</DefaultLayout>
