---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content'

const title = "Rutina-aiheet"
const posts = await getCollection('rutinat')
const tags = posts.map(post => post.data.tags).flat().reduce((counts, tag) => {
    counts[tag] = (counts[tag] || 0) + 1
    return counts
}, {})

---

<DefaultLayout title={title}>
    <div class="container">
        <div class="space-content my-12">
            <h1>{title}</h1>
            <ul>
                {Object.entries(tags).map(([tag, count]) => (
                    <li><a href={`/rutina-aihe/${tag}`}>{tag}</a> ({count})</li>
                ))}
            </ul>
        </div>
    </div>
</DefaultLayout>
