---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import toTags from '../../lib/toTags'
import { getCollection } from 'astro:content'

const title = "Rutina-aiheet"
const posts = await getCollection('rutinat')
const tags = toTags(posts)

---

<DefaultLayout title={title}>
    <div class="container">
        <div class="space-content my-12">
            <h1>{title}</h1>
            <ul>
                {tags.map(([tag, count]) => (
                    <li><a href={`/rutina-aihe/${tag}`}>{tag}</a> ({count})</li>
                ))}
            </ul>
        </div>
    </div>
</DefaultLayout>
